<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head th:insert="~{fragments/head}"></head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Preloader -->
    <div th:insert="~{fragments/pre-loader}"></div>

    <!-- Navbar -->
    <nav th:insert="~{fragments/nav-bar}"></nav>

    <!-- Main Sidebar Container -->
    <aside th:insert="~{fragments/side-bar}"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Tour</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Tour</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Tour Form</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->

                            <form th:action="@{/admin/tour/form}"
                                  th:object="${tour}"
                                  method="POST"
                                  enctype="multipart/form-data">
                                <div class="form-group">
                                    <div class="row">

                                        <div class="form-group col-md-6">
                                            <label for="id">ID</label>
                                            <input th:field="*{id}"  type="text" class="form-control" id="id" readonly disabled>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="tourName">Tour Name</label>
                                            <input th:field="*{tourName}" type="text" class="form-control" id="tourName" name="tourName">
                                            <th:if test="${errorMap != null && errorMap['tourName'] != null}">
                                                <p class="text-danger" th:text="${errorMap['tourName']}"></p>
                                            </th:if>
                                        </div>


                                        <div class="form-group col-md-6">
                                            <label for="maxSeats">Max Seat</label>
                                            <input th:field="*{maxSeats}" type="text" class="form-control" id="maxSeats" name="maxSeats">
                                            <th:if test="${errorMap != null && errorMap['maxSeats'] != null}">
                                                <p class="text-danger" th:text="${errorMap['maxSeats']}"></p>
                                            </th:if>
                                        </div>


                                        <div class="form-group col-md-6">
                                            <label for="startDate">Start Date</label>
                                            <input th:field="*{startDate}" type="date" class="form-control" id="startDate" name="startDate">
                                            <th:if test="${errorMap != null && errorMap['startDate'] != null}">
                                                <p class="text-danger" th:text="${errorMap['startDate']}"></p>
                                            </th:if>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="endDate">End Date</label>
                                            <input th:field="*{endDate}" type="date" class="form-control" id="endDate" name="endDate">
                                            <th:if test="${errorMap != null && errorMap['endDate'] != null}">
                                                <p class="text-danger" th:text="${errorMap['endDate']}"></p>
                                            </th:if>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">

                                        <div class="form-group col-md-6">
                                            <label for="itinerary">Itinerrary</label>
                                            <input th:field="*{itinerary}" type="text" class="form-control" id="itinerary" name="itinerary">
                                            <th:if test="${errorMap != null && errorMap['itinerary'] != null}">
                                                <p class="text-danger" th:text="${errorMap['itinerary']}"></p>
                                            </th:if>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Price</label>
                                            <input type="text"
                                                   th:field="*{price}"
                                                   th:value="${#numbers.formatDecimal(tour.price, 0, 'COMMA', 0, 'POINT')}"
                                                   class="form-control" name="price">
                                            <th:if test="${errorMap != null && errorMap['price'] != null}">
                                                <p class="text-danger" th:text="${errorMap['price']}"></p>
                                            </th:if>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label>Upload File</label>
                                            <input type="file" class="form-control" name="file" >

                                            <th:if test="${errorMap != null && errorMap['imgUrl'] != null}">
                                                <p class="text-danger" th:text="${errorMap['imgUrlDatail']}"></p>
                                            </th:if>
                                        </div>


                                        <div class="col-md-6">
                                            <label>Status</label>
                                            <select class="form-control" name="status" th:field="*{status}"
                                                    style="width: 100%;">
                                                <option value="true">Active</option>
                                                <option value="false">Inactive</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>


                                <div class="card-footer">
                                    <input type="hidden" name="id" th:value="${tour.id}"/>
                                    <!--                        hidden: truyen id cho user khong thay-->
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Footer -->
    <footer th:insert="~{fragments/footer}"></footer>
</div>
<!-- ./wrapper -->

<!-- JavaScript -->
<div th:insert="~{fragments/script}"></div>
</body>

</html>

