<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head th:insert="~{fragments/head}"></head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Preloader -->
    <div th:insert="~{fragments/pre-loader}"></div>

    <!-- Navbar -->
    <nav th:insert="~{fragments/nav-bar}"></nav>

    <!-- Main Sidebar Container -->
    <aside th:insert="~{fragments/side-bar}"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Tour</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Tour</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr >
                                        <th>ID</th>
                                        <th>Tour Name</th>
                                        <th>Itinerary</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Price</th>
                                        <th>Max Seat</th>
                                        <th>Image</th>
                                        <th>Status</th>
                                        <th>Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="tour : ${tourList}">

                                        <td th:text="${tour.id}">ID</td>
                                        <td th:text="${tour.tourName}">Tour Name</td>
                                        <td th:text="${tour.itinerary}">Itinerary</td>
                                        <td th:text="${tour.startDate}">Start Date</td>
                                        <td th:text="${tour.endDate}">End Date</td>
                                        <td th:text="${#numbers.formatDecimal(tour.price, 0, 'COMMA', 0, 'POINT')}">Price</td>
                                        <td th:text="${tour.maxSeats}">Max Seat</td>

                                        <td >
                                            <img th:src="${tour.imgUrl}" alt="Tour Image" class="img-thumbnail mt-2" style="max-height: 200px;"></td>

                                        <td th:switch="${tour.status}"
                                            th:data-id="${tour.getId()}">
                                            <span class="badge badge-success" th:case="true">Active</span>
                                            <span class="badge badge-danger" th:case="false">Inactive</span>
                                        </td>

                                        <td>
                                            <a class="btn btn-primary btn-sm mt-2" th:href="@{'/admin/tour/form/' + ${tour.getId()}}" >
                                                Edit
                                            </a>

                                            <a class="btn btn-danger btn-sm mt-2" data-toggle="modal" data-target="#confirmDeleteModal"
                                               th:data-id="${tour.id}">Delete</a>

                                        </td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Footer -->
    <footer th:insert="~{fragments/footer}"></footer>
</div>
<!-- ./wrapper -->

<!-- JavaScript -->
<div th:insert="~{fragments/script}"></div>
</body>

</html>