<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <title>AdminLTE 3 | Dashboard</title>-->

<!--    &lt;!&ndash; Google Font: Source Sans Pro &ndash;&gt;-->
<!--    <link rel="stylesheet"-->
<!--          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">-->
<!--    &lt;!&ndash; Font Awesome &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">-->
<!--    &lt;!&ndash; Ionicons &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">-->
<!--    &lt;!&ndash; Tempusdominus Bootstrap 4 &ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{../css/bootstrap4/tempusdominus-bootstrap-4.min.css}">-->
<!--    &lt;!&ndash; iCheck &ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{../css/bootstrap4/icheck-bootstrap.min.css}">-->
<!--    &lt;!&ndash; JQVMap &ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{../css/jqvmap/jqvmap.min.css}">-->
<!--    &lt;!&ndash; Theme style &ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{../css/adminlte.min.css}">-->
<!--    &lt;!&ndash; overlayScrollbars &ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{../css/overlayScrollbars/OverlayScrollbars.min.css}">-->
<!--    &lt;!&ndash; Daterange picker &ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{../css/daterangepicker/daterangepicker.css}">-->
<!--    &lt;!&ndash; summernote &ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{../css/summernote/summernote-bs4.min.css}">-->
<!--    &lt;!&ndash; DataTables &ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{../css/bootstrap4/dataTables.bootstrap4.min.css}">-->
<!--    <link rel="stylesheet" th:href="@{../css/bootstrap4/responsive.bootstrap4.min.css}">-->
<!--    <link rel="stylesheet" th:href="@{../css/bootstrap4/buttons.bootstrap4.min.css}">-->
<!--</head>-->


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap4/tempusdominus-bootstrap-4.min.css}">
    <!-- iCheck -->
    <link rel="stylesheet" th:href="@{/css/bootstrap4/icheck-bootstrap.min.css}">
    <!-- JQVMap -->
    <link rel="stylesheet" th:href="@{/css/jqvmap/jqvmap.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/css/adminlte.min.css}">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" th:href="@{/css/overlayScrollbars/OverlayScrollbars.min.css}">
    <!-- Daterange picker -->
    <link rel="stylesheet" th:href="@{/css/daterangepicker/daterangepicker.css}">
    <!-- summernote -->
    <link rel="stylesheet" th:href="@{/css/summernote/summernote-bs4.min.css}">
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/css/bootstrap4/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap4/responsive.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap4/buttons.bootstrap4.min.css}">
</head>
