<!--&lt;!&ndash; jQuery &ndash;&gt;-->
<!--<script th:src="@{/js/jquery/jquery.min.js}"></script>-->
<!--&lt;!&ndash; jQuery UI 1.11.4 &ndash;&gt;-->
<!--<script th:src="@{/js/jquery/jquery-ui.min.js}"></script>-->
<!--&lt;!&ndash; Resolve conflict in jQuery UI tooltip with Bootstrap tooltip &ndash;&gt;-->
<!--<script>-->
<!--    $.widget.bridge('uibutton', $.ui.button)-->
<!--</script>-->
<!--&lt;!&ndash; Bootstrap 4 &ndash;&gt;-->
<!--<script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>-->
<!--&lt;!&ndash; ChartJS &ndash;&gt;-->
<!--<script th:src="@{/js/chartjs/Chart.min.js}"></script>-->
<!--&lt;!&ndash; Sparkline &ndash;&gt;-->
<!--<script th:src="@{/js/sparklines/sparkline.js}"></script>-->
<!--&lt;!&ndash; JQVMap &ndash;&gt;-->
<!--<script th:src="@{/js/jqvmap/jquery.vmap.min.js}"></script>-->
<!--<script th:src="@{/js/jqvmap/jquery.vmap.usa.js}"></script>-->
<!--&lt;!&ndash; jQuery Knob Chart &ndash;&gt;-->
<!--<script th:src="@{/js/jquery-knob/jquery.knob.min.js}"></script>-->
<!--&lt;!&ndash; daterangepicker &ndash;&gt;-->
<!--<script th:src="@{/js/daterangepicker/moment.min.js}"></script>-->
<!--<script th:src="@{/js/daterangepicker/daterangepicker.js}"></script>-->
<!--&lt;!&ndash; Tempusdominus Bootstrap 4 &ndash;&gt;-->
<!--<script th:src="@{/js/bootstrap/tempusdominus-bootstrap-4.min.js}"></script>-->
<!--&lt;!&ndash; Summernote &ndash;&gt;-->
<!--<script th:src="@{/js/summernote/summernote-bs4.min.js}"></script>-->
<!--&lt;!&ndash; overlayScrollbars &ndash;&gt;-->
<!--<script th:src="@{/js/overlayScrollbars/jquery.overlayScrollbars.min.js}"></script>-->
<!--&lt;!&ndash; DataTables  & Plugins &ndash;&gt;-->
<!--<script th:src="@{/js/datatables/jquery.dataTables.min.js}"></script>-->
<!--<script th:src="@{/js/datatables/dataTables.bootstrap4.min.js}"></script>-->
<!--<script th:src="@{/js/datatables/dataTables.responsive.min.js}"></script>-->
<!--<script th:src="@{/js/datatables/responsive.bootstrap4.min.js}"></script>-->
<!--<script th:src="@{/js/datatables/dataTables.buttons.min.js}"></script>-->
<!--<script th:src="@{/js/datatables/buttons.bootstrap4.min.js}"></script>-->
<!--<script th:src="@{/js/datatables/jszip.min.js}"></script>-->
<!--<script th:src="@{/js/datatables/pdfmake.min.js}"></script>-->
<!--<script th:src="@{/js/datatables/vfs_fonts.js}"></script>-->
<!--<script th:src="@{/js/datatables/buttons.html5.min.js}"></script>-->
<!--<script th:src="@{/js/datatables/buttons.print.min.js}"></script>-->
<!--<script th:src="@{/js/datatables/buttons.colVis.min.js}"></script>-->
<!--&lt;!&ndash; AdminLTE App &ndash;&gt;-->
<!--<script th:src="@{/js/adminlte.js}"></script>-->
<!--&lt;!&ndash; AdminLTE for demo purposes &ndash;&gt;-->
<!--&lt;!&ndash;<script th:src="@{../js/demo.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash; AdminLTE dashboard demo (This is only for demo purposes) &ndash;&gt;-->
<!--<script th:src="@{/js/dashboard3.js}"></script>-->




<!-- jQuery -->
<script th:src="@{/js/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/js/jquery/jquery-ui.min.js}"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
<!-- ChartJS -->
<script th:src="@{/js/chartjs/Chart.min.js}"></script>
<!-- Sparkline -->
<script th:src="@{/js/sparklines/sparkline.js}"></script>
<!-- JQVMap -->
<script th:src="@{/js/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{/js/jqvmap/jquery.vmap.usa.js}"></script>
<!-- jQuery Knob Chart -->
<script th:src="@{/js/jquery-knob/jquery.knob.min.js}"></script>
<!-- daterangepicker -->
<script th:src="@{/js/daterangepicker/moment.min.js}"></script>
<script th:src="@{/js/daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script th:src="@{/js/bootstrap/tempusdominus-bootstrap-4.min.js}"></script>
<!-- Summernote -->
<script th:src="@{/js/summernote/summernote-bs4.min.js}"></script>
<!-- overlayScrollbars -->
<script th:src="@{/js/overlayScrollbars/jquery.overlayScrollbars.min.js}"></script>
<!-- DataTables  & Plugins -->
<script th:src="@{/js/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/datatables/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/js/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/js/datatables/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/js/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{/js/datatables/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/js/datatables/jszip.min.js}"></script>
<script th:src="@{/js/datatables/pdfmake.min.js}"></script>
<script th:src="@{/js/datatables/vfs_fonts.js}"></script>
<script th:src="@{/js/datatables/buttons.html5.min.js}"></script>
<script th:src="@{/js/datatables/buttons.print.min.js}"></script>
<script th:src="@{/js/datatables/buttons.colVis.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/js/adminlte.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/js/dashboard3.js}"></script>




<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>