*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-image: url("../images/login.jpg");
}
.black
{
    background-color: black;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    opacity: 0.25;
}
#login{
    position: absolute;
    background-color: white;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px;
    width: 50vw;
}
#login .title
{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
#login .account
{
    text-align: center;
    margin-top: 15px;
    font-size: 1.1rem;
}
#login form .input-group
{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
#login form .input-group label
{
    font-weight: 600;
    font-size: 1.15rem;
}
#login form .input-group input
{
    margin-top: 5px;
    border: 1px solid #ccc;
    padding: 6px 12px;
}
#login form .input-group-check
{
    display: flex;
    gap: 6px;
    align-items: center;
}
#login form .input-group-check input
{
    width: 15px;
    height: 15px;
}
#login form .submit{
    width: 100%;
    margin: 15px 0;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 0;
    font-size: 1.1rem;
}

#login .other{
    margin-top: 15px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    position: relative;
}
#login .other .other-list
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#login .other .other-list button
{
    padding: 8px 24px;
    width: 30%;
}
#login .other .other-list button:nth-child(1)
{
    color: #5498F0;
    border:2px solid #5498F0;
    outline: none;
    background-color: white;
}
#login .other .other-list button:nth-child(1):hover
{
    color: white;
    background-color: #5498F0;
}
#login .other .other-list button:nth-child(2)
{
    color: #DB4437;
    border:2px solid #DB4437;
    outline: none;
    background-color: white;
}
#login .other .other-list button:nth-child(2):hover
{
    color: white;
    background-color: #DB4437;
}
#login .other .other-list button:nth-child(3)
{
    color: #1DB5F0;
    border:2px solid #1DB5F0;
    outline: none;
    background-color: white;
}
#login .other .other-list button:nth-child(3):hover
{
    color: white;
    background-color: #1DB5F0;
}
#login .other .help
{
    text-align: center;
    margin-top: 20px;
    font-size: 1.05rem;
}
#login .other .text
{
    position: absolute;
    top: -10%;
    z-index: 1000;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 8px;
}
.privacy
{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}